<html>
	<head>
        <title> Hobby Harmonizer </title>
	</head>

	<style>
	body {
	  background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149009911.jpg?w=1800&t=st=1680387966~exp=1680388566~hmac=9d13feabe8c5d90a242107f894eee16b6dd0df7b180b251ed1b06fcc1fd9feee');
	}
	</style>



	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <body>
        {% block content %}{% endblock content %}
    </body>
</html>
