<html>
	<head>
        <title> Hobby Harmonizer </title>
	</head>

	<style>
	body {
	  background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background_24972-1199.jpg?w=1480&t=st=1680388070~exp=1680388670~hmac=4e3ad776c36e37997b830ee315fcd520ac844321ddbe588ef54304e13cf61f5d');
	}
	</style>



	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <body>
        {% block content %}{% endblock content %}
    </body>
</html>
