{% extends 'base.html' %}
{% block content %}

  <body style="display: flex; justify-content: center">
  <div style="background-color: white; margin: auto; padding: 50px; text-align:left">
  <h2>Create event</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Create event</button>
  </form>
    <a href="/dashboard"> Back </a>
  </div>
  </body>
{% endblock %}
