{% extends 'base.html' %}


{% block content %}


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#"> Hobby Harmonizers</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/dashboard"> Home </a>
      <a class="nav-item nav-link" href="/registeredEvents"> My Registered Events </a>
      <a class="nav-item nav-link" href="/hostedEvents"> My Hosted Events</a>
	  <a class="nav-item nav-link" href="/logout"> Logout </a>
	  <a class="nav-item nav-link" href="/createEvent"> Create an Event </a>
    </div>
            <div style="margin: 10px;">
                <div class="navbar-right" style="justify-content:right">
                    <a href="/profile"><img src="../media/{{ user.profile.picture.image }}" alt="{{user.profile.picture.title}}" width="45", height="45" style="border-radius: 50%" class="rounded-circle "></a>
                </div>
            </div>
 	</div>
	</nav>

    {% if user.is_authenticated %}
    <p text-align=center> hi {{ user.username }} this is your dashboard, yay :) </p>

	{% if event_list %}
		{% for event in event_list %}

			<div class="card" style="width: 15rem;">
			<div class="card-body">
			<h6 class="card-title">Card title</h5>
			<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="/event/{{event.id}}/" class="card-link">Card link</a>
    		<a href="#" class="card-link">Another link</a>
		    </div>
			</div>

			{% endfor %}
	{% else %}
		<p> no events </p>
	{% endif %}

    <img src="{{user.picture.url}}">

    {%  else %}
        <p> plz log in </p>
        <a href="/login"> Login Here </a>
    {% endif %}
{% endblock content %}
