{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}

      <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"> Hobby Harmonizers </a>
        </div>
        <ul class="nav navbar-nav"> 
          <li color="blue"><a href="/logout"> Logout </a></li>
          <li class="active"><a href="/dashboard"> Home </a></li>
          <li><a href="/registeredEvents"> My Registered Events </a></li>
          <li><a href="/hostedEvents"> My Hosted Events </a></li>
          <li><a href="/createPost"> Create a Post </a>
        </ul>
      </div>
      </nav>

    <p> hi {{ user.username }} this is your dashboard, yay :) </p>
    <a href="/logout"> Logout </a>
    <img src="{{user.picture.url}}">

    {%  else %}
	
        <p> plz log in </p>
        <a href="/login"> Login Here </a>

    {% endif %}
{% endblock content %}
