{% extends 'base.html' %}
{% block content %}

<style>
	h1 {text-align: center;}
	p {text-align: center;}
	div {text-align: center;}
	h5 {text-align: center;}
	form {text-align: center;}
    h6 {}
	body {
      text-align: center;
	  background-image: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
	}
</style>
    <body>
    <div style="text-align: center;">    
        <div style="padding: auto; padding: 200px">
            <h1 style="font-family:georgia;"> <b> Welcome to Hobby Harmonizers! </b> </h1>
            
            <div>
                <p> {{ messsage }} </p>
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-light">Login</button>
                </form>
            </div>

            <h5>
                Don't have an account?
                <a href="/signup" style="" > Sign Up </a>
            </h5>
        </div>
    </div>
    </body>
		
{% endblock content %}
