{% extends 'base.html' %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#"> Hobby Harmonizers</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/dashboard"> Home </a>
      <a class="nav-item nav-link" href="/registeredEvents"> My Registered Events </a>
      <a class="nav-item nav-link" href="/hostedEvents"> My Hosted Events</a>
	  <a class="nav-item nav-link" href="/logout"> Logout </a>
	  <a class="nav-item nav-link" href="/createEvent"> Create an Event </a>
    </div>
            <div style="margin: 10px;">
                <div class="navbar-right" style="justify-content:right">
                    <a href="/profile"><img src="../media/{{ user.profile.picture.image }}" alt="{{user.profile.picture.title}}" width="45", height="45" style="border-radius: 50%" class="rounded-circle "></a>
                </div>
            </div>
 	</div>
	</nav>

    {% if user.is_authenticated %} 
   	<div class="container">
        <div>
            <div class="text-center"  >
                <h1>{{ user.username }}'s Profile Page</h1>
                <div style="opacity:.9; align-items: center">
                    <div class="media pl-5 ml-5 ">
                        <img class="rounded-circle" src="../media/{{ user.profile.picture.image }}", alt="{{ user.profile.picture.title }}" style="border-radius: 50%" width="300" height="300"> 
                    <div class="media-body">

                    <h1 class="account-heading " style="margin: 30px">{{ user.profile.name }}</h1>

                    <h3 class="account-heading" style="margin: 30px">{{ user.username }}</h3>

                    <h3 class="account-heading" style="margin: 30px">{{ user.profile.email }}</h3>
                    <p class="text-secondary" style="margin: 30px">{{ user.profile.bio }}</p>
                      </div>
                    </div>
              </div>
            </div>
        </div>
     {% if events  %}
    <h3> List of Created Events </h3>   </div>
    <div style="padding: 20px; display: flex; align-items: center; flex-direction: row; justify-content: space-around;">

    {% for event in events %}
    {% if event %}
        <div class="card mb-3" style="background-color: PowderBlue">
            <img class="card-img-top" src="../media/{{ event.author.picture.image }}" width=100 height=100 alt="Card image cap">
            <div class="card-body">
                <a href="/event/{{event.id}}/" class="card-link"><b>Card title</b></a>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{event.location}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{event.event_date}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">Benefiting Charity: {{event.charity}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">tags: {{event.tags}}</h6>
		    </div>
            <div class="card-footer text-secondary">
                <a class="mr-2" href="#">{{ event.author.name }}</a>|| 
                {{ event.creation_date }}
            </div> 
        </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    </div>
   
    {% endif %}
{% endblock content %}
