{% extends 'base.html' %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">Hobby Harmonizer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <a class="nav-link" aria-current="page" href="/dashboard">Home</a>
    <a class="nav-link active" href="/registeredEvents">My Registered Events</a>
    <a class="nav-link" href="/createEvent">Create an Event</a>
    <a class="nav-link" href='/logout'>Logout</a>
    </div>
    </div>
    <div style="margin: 10px;">
                <div class="navbar-right" style="justify-content:right">
                    <a href="/profile"><img src="../media/{{ user.profile.picture.image }}" alt="{{user.profile.picture.title}}" width="45", height="45" style="border-radius: 50%" class="rounded-circle "></a>
                </div>
    </div>
    </nav>

    {% if user.is_authenticated %}

        <h3 text-align=center><u> My Registered Events: </u> </h3>
         {% if event_list %}
         <div class="row row-cols-1 row-cols-md-6 g-4 mx-5 my-5">
	    	{% for event in event_list %}
             <div class="col">
	    	<div class="card" style="width: 20rem;"> 
             <img class="card-img-top" src="../media/{{ event.author.picture.image }}" width=100 height=100 alt="Card image cap">
	        <div class="card-body">
                <a href="/event/{{event.id}}/" class="card-link"><b>Card title</b></a>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{event.location}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{event.event_date}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">tags: {{event.tags}}</h6>
		    </div>
			</div>
            </div>
			{% endfor %}
        </div>
	{% else %}
		<p> no events </p>
	{% endif %}

	{% else %}

        <p> Please login </p>

    {% endif %}

{% endblock content %}
