{% extends 'base.html' %}

{% block content %}

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#"> Hobby Harmonizers</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/dashboard"> Home </a>
      <a class="nav-item nav-link active" href="/registeredEvents"> My Registered Events </a>
      <a class="nav-item nav-link" href="/hostedEvents"> My Hosted Events</a>
	  <a class="nav-item nav-link" href="/logout"> Logout </a>
    </div>
 	</div>
	</nav>

    {% if user.is_authenticated %}

        <p> hi {{ user.username }} this is your page of registered events, yay :) </p>

	{% else %}

        <p> Please login </p>

    {% endif %}

{% endblock content %}
